<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>View Enquiries</title>
<style>
footer {
	text-align: center;
	padding: 3px;
	background-color: DarkSalmon;
	color: white;
}
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


</head>

<body>
	<div class="container">


		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"> <img
					th:src="@{/images/logo.jpg}" alt="logo">
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/dashboard">
								<h3>Home</h3>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/enquiry">
								<h3>Add Enquiry</h3>
						</a></li>
						<li class="nav-item"><a class="nav-link" href="/enquires">
								<h3>View Enquiries</h3>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							href="https://jtcindia.org/">
								<h3>LinkToJTC</h3>
						</a></li>
					</ul>
					<form class="d-flex" role="login">
						<a href="logout" class="btn btn-outline-success">Logout</a>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<div class="container">
		<h2 class="text-center">View Students Enquiry</h2>

	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 form-outline mb-4">
				<label for="fourth"> Course: </label> <select id="course"
					class="form-select" required>
					<option value="">-Select-</option>
					<option th:each="cname:${courseName}" th:value="${cname}"
						th:text="${cname}"></option>
				</select>
			</div>

			<div class="col-md-4 form-outline mb-4">
				<label for="five"> Enquiry Status: </label> <select id="status"
					class="form-select" required>
					<option value="">-Select-</option>
					<option th:each="status:${enqStatus}" th:value="${status}"
						th:text="${status}"></option>
				</select>
			</div>

			<div class="col-md-4 form-outline mb-4">
				<label for="classMode"> Class Mode: </label> <select id="classMode"
					class="form-select" required>
					<option value="">Select Course</option>
					<option value="OFFLINE">OFFLINE</option>
					<option value="ONLINE">ONLINE</option>
				</select>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="container" th:if="${not #lists.isEmpty(enquries)}">
			<table id="enqTbl" class="table table-striped table-hover">
				<tr>
					<th>ID</th>
					<th>Student Name</th>
					<th>Class Mode</th>
					<th>Course Name</th>
					<th>Phone No</th>
					<th>Enq Status</th>
					<th>Action</th>
				</tr>
				<tr th:each="enqury, enquryStat : ${enquries}">
					<td th:text="${enquryStat.index + 1}"></td>
					<td th:text="${enqury.studentName}"></td>
					<td th:text="${enqury.classMode}"></td>
					<td th:text="${enqury.courseName}"></td>
					<td th:text="${enqury.studentPhno}"></td>
					<td th:text="${enqury.enqStatus}"></td>
					<td><a th:href="@{/edit}">Edit</a></td>
				</tr>
			</table>			
		</div>
		
		<div th:if="${#lists.isEmpty(enquries)}">
			<h3>No Records Found, thanks ......</h3>
		</div>
	</div>

	<footer>
		<p class="text-center">@Test IT - 2025</p>
	</footer>


	<!-- Bootstrap and jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		$(document).ready(function() {
			$(".form-select").on("change", function(e) {
				//alert("Dropdown value changed!");
				//var cname = $("#course").val();
				//console.log(cname)
				//var mode = $('#classMode').val();
				//console.log(mode)
				//var status = $('#status').val();
				//console.log(status)

				$.ajax({
					type : 'GET',
					url : 'filter-enquiries',
					data : {
						cname : $('#course').val(),
						mode : $('#classMode').val(),
						status : $('#status').val()
					},
					success : function(result) {
						//$("#enqTbl").hide();
						//alert(result);
						$("#enqTbl").html(result);
					}
				});
			});
		});
	</script>
</body>
</html>
